// Base colors, only used in this file
$color-white: #fff;
$color-greyscale-n4: #A3A3AB;
$color-greyscale-n8: #2F2F34;
$color-greyscale-n9: #1d1d1f;

// Functional colors, to use in the rest of the app
$color-app-bg: $color-white;
$color-body-text: $color-greyscale-n8;
